Repository fgarofalo56/azure-dab-fullstack-demo: changes, and which pre-commit hooks are due for each by the changed paths.
All: bicep-build, eslint

bicep-build:
  name: Bicep Build Check
  entry: az bicep build --file
  language: system
  pass_filenames: true

eslint:
  name: ESLint
  entry: npx eslint --fix
  language: system
  pass_filenames: true

chore: update CLAUDE.md with Archon project ID and GitHub repo
  CLAUDE.md
Due: none

feat: add complete DOT demo with database, CRUD operations, tests, and docs
  README.md
  assets/architecture.excalidraw
  assets/architecture.svg
  docs/architecture.md
  docs/dab-configuration-guide.md
  docs/deployment-guide-portal.md
  docs/deployment-guide-scripts.md
  infrastructure/scripts/build-push-dab.ps1
  infrastructure/scripts/build-push-frontend.ps1
  src/dab-config/dab-config.json
  src/database/001-schema.sql
  src/database/002-seed-data.sql
  src/database/Initialize-Database.ps1
  src/database/README.md
  src/frontend/Dockerfile
  src/frontend/package.json
  src/frontend/src/App.tsx
  src/frontend/src/__tests__/api.test.ts
  src/frontend/src/__tests__/components.test.tsx
  src/frontend/src/__tests__/setup.ts
  src/frontend/src/components/CrudModal.tsx
  src/frontend/src/components/ErrorBoundary.tsx
  src/frontend/src/components/GraphQLExplorer.tsx
  src/frontend/src/components/Pagination.tsx
  src/frontend/src/components/index.ts
  src/frontend/src/types/index.ts
  src/frontend/src/utils/api.ts
  src/frontend/vitest.config.ts
Due: eslint

fix(bicep): use local backup storage for SQL database
  infrastructure/bicep/main.bicep
Due: bicep-build

fix(deploy): add two-phase deployment support
  infrastructure/bicep/main.bicep
  infrastructure/scripts/deploy.ps1
Due: bicep-build

docs: update deployment guides for two-phase deployment
  README.md
  docs/deployment-guide-scripts.md
Due: none

chore: add package-lock.json for frontend Docker builds
  src/frontend/package-lock.json
Due: none

fix(frontend): resolve TypeScript build errors for Docker
  src/frontend/src/components/CrudModal.tsx
  src/frontend/src/vite-env.d.ts
  src/frontend/tsconfig.json
Due: eslint

fix(dab): use correct working directory in Dockerfile
  src/dab-config/Dockerfile
Due: none

feat(infra): add diagnostic settings for all Azure resources
  infrastructure/bicep/main.bicep
  infrastructure/scripts/deploy.ps1
Due: bicep-build

docs: add monitoring and diagnostics documentation
  README.md
  docs/architecture.md
  docs/deployment-guide-scripts.md
Due: none

fix(bicep): remove duplicate SQL audit diagnostic setting
  infrastructure/bicep/main.bicep
Due: bicep-build

feat(infra): add Azure Front Door for HTTPS support
  README.md
  infrastructure/bicep/main.bicep
  infrastructure/scripts/deploy.ps1
Due: bicep-build

docs: update architecture diagrams with Front Door and Log Analytics
  README.md
  assets/architecture.excalidraw
  docs/architecture.md
Due: none

feat(assets): replace placeholder icons with production Azure icons
  assets/README.md
  assets/architecture.excalidraw
  assets/authentication-flow.excalidraw
  assets/auto-scaling-architecture.excalidraw
  assets/data-flow-architecture.excalidraw
  assets/deployment-architecture.excalidraw
  assets/monitoring-architecture.excalidraw
  assets/security-architecture.excalidraw
Due: none

fix(diagrams): clean up Excalidraw diagrams for professional appearance
  assets/architecture.excalidraw
  assets/authentication-flow.excalidraw
  assets/auto-scaling-architecture.excalidraw
  assets/data-flow-architecture.excalidraw
  assets/deployment-architecture.excalidraw
  assets/monitoring-architecture.excalidraw
  assets/security-architecture.excalidraw
Due: none

style(docs): beautify all markdown files with emojis, badges, and improved formatting
  README.md
  docs/README.md
  docs/acr-setup-guide.md
  docs/api-reference.md
  docs/auto-scaling-guide.md
  docs/azure-fundamentals-beginners.md
  docs/ci-cd-guide.md
  docs/cloud-shell-deployment-guide.md
  docs/dab-configuration-guide.md
  docs/index.md
  docs/monitoring-guide.md
  docs/setup-guide.md
  src/database/README.md
Due: none

fix: resolve dashboard JSON parse error, fix CI pipeline, and add Nginx API proxy
  .github/workflows/ci.yml
  .gitignore
  infrastructure/bicep/main.bicep
  src/frontend/.eslintrc.cjs
  src/frontend/Dockerfile
  src/frontend/docker-entrypoint.sh
  src/frontend/nginx.conf
  src/frontend/src/__tests__/BaseDataTable.test.tsx
  src/frontend/src/__tests__/api.test.ts
  src/frontend/src/components/BaseDataTable.tsx
  src/frontend/src/components/dashboard/CategoryDashboard.tsx
  src/frontend/src/components/dashboard/DataView.tsx
  src/frontend/src/hooks/useApiToken.ts
  src/frontend/src/utils/api.ts
Due: bicep-build, eslint

fix: fix Nginx proxy for Container Apps internal communication
  .github/workflows/deploy.yml
  src/frontend/nginx.conf
Due: none

fix(frontend): fix Nginx HTTPS proxy and use DAB $first query parameter
  src/frontend/nginx.conf
  src/frontend/src/components/BaseDataTable.tsx
Due: eslint

wip: snapshot of frontend tweaks before de-Archon-v1 migration
  .gitignore
  src/frontend/src/components/BaseDataTable.tsx
  src/frontend/src/components/auth/LoginPage.tsx
  src/frontend/src/utils/api.ts
  src/frontend/tailwind.config.js
Due: eslint

chore: migrate off Archon v1 (CLAUDE.md sanitization + task ledger)
  .claude/migrated-archon-tasks.md
  CLAUDE.md
Due: none

chore: migrate off Archon v1 (CLAUDE.md sanitization + task ledger) (#6)
  .claude/migrated-archon-tasks.md
  CLAUDE.md
Due: none

chore: dedupe migration notes + strip leftover H1 Archon blocks
  CLAUDE.md
Due: none

chore: dedupe migration notes + strip leftover H1 Archon blocks (#7)
  CLAUDE.md
Due: none

chore(deps-dev): upgrade Vite 8 with compatible plugin-react 6 + vitest 4.1.8
  src/frontend/package-lock.json
  src/frontend/package.json
Due: none

ci: bump CI/deploy Node 18 -> 22 for Vite 8 / vitest 4.1.8
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
Due: none

fix(docker): bump frontend builder image node:18 -> node:22 for Vite 8
  src/frontend/Dockerfile
Due: none

chore(deps-dev): upgrade Vite 8 (+ plugin-react 6, vitest 4.1.8) (#12)
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  src/frontend/Dockerfile
  src/frontend/package-lock.json
  src/frontend/package.json
Due: none

fix(deps): resolve all frontend npm audit vulnerabilities via overrides
  src/frontend/package-lock.json
  src/frontend/package.json
Due: none

fix(deps): resolve all frontend npm audit vulnerabilities via overrides (#14)
  src/frontend/package-lock.json
  src/frontend/package.json
Due: none

Path conditions:
  bicep-build: any of: \.bicep$
  eslint: any of: \.(ts|tsx|js|jsx)$
